@tailwind base;
@tailwind components;
@tailwind utilities;


.s1{
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;

}

.navbar{

    background: rgba( 51, 16, 16, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14.5px );
    -webkit-backdrop-filter: blur( 14.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.blurColor{
    background: rgb(111,75,210);
background: linear-gradient(90deg, rgba(111,75,210,1) 0%, rgba(27,9,75,1) 50%);

width: 300px;
height: 400px;
position:absolute;
top: 190%;
right: 10%;
opacity: 0.8;
filter: blur(90px);
}

.Text3d{
    color: #000000c4;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(236,236,236),
                 1px 1px 0 rgb(216, 216, 216),
                 2px 2px 0 rgb(197,197,197),
                 3px 3px 0 rgb(177,177,177),
                 4px 4px 0 rgb(158,158,158),
                 5px 5px 0 rgb(138,138,138),
                 6px 6px 0 rgb(119,119,119),
                 7px 7px 0 rgb(99,99,99),
                 8px 8px 0 rgb(80,80,80),
                 9px 9px  0 rgb(61,61,61),
                 8 8 9px rgba(0,0,0,0.92),
                 8 8 1px rgba(0,0,0,0.5),
                 0px 0px 9px rgba(0,0,0,.2);
 }



html {
    --scrollbarBG: #f0e8e8;
    --thumbBG: #08dabbae;
  }
  body::-webkit-scrollbar {
    scrollbar-gutter:auto;
    width: 10px;
    transition: scrollbar-color 0.3s ease-out;

   
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    transition: scrollbar-color 0.3s ease-out;
   background-color: #f0e8e8;


  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
    
    
  }
  body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg,rgb(38, 43, 43) 0%, #0f0e1191 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
  
  
  }

:root {
    
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;

    color: rgba(0, 0, 0, 1);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

/* PRODUCT DETAILS CAROUSEL STYLING CUSTOMIZATION START */
.productCarousel.carousel-root {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    
}
.productCarousel.carousel-root .carousel {
    width: auto;
    
}
.productCarousel.carousel-root .carousel.carousel-slider {
    width: 100%;
    border: solid cyan 1px;

    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius: 40px;

}
.productCarousel.carousel-root .carousel.carousel-slider .slider-wrapper {
    border-radius: 10px;
}
.productCarousel.carousel-root .carousel .thumbs-wrapper {
    margin: 0;
}
.productCarousel.carousel-root .carousel .thumb {
    height: 60px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    
 
    
}
.productCarousel.carousel-root .carousel .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow:0 0 20px rgba(0,0,0,0.8);

   
}
.productCarousel.carousel-root .carousel .thumb:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    
    
}
.productCarousel.carousel-root .carousel .thumb.selected,
.productCarousel.carousel-root .carousel .thumb:hover {
    border: 0;
}
.productCarousel.carousel-root .carousel .thumb:hover:after,
.productCarousel.carousel-root .carousel .thumb.selected:after {
    opacity: 0.2;
}
.productCarousel .control-arrow {
    display: none;
}
@media screen and (max-width: 767px) {
    .productCarousel.carousel-root {
        flex-direction: column;
    }
    .productCarousel.carousel-root .carousel .thumb {
        border: 0;
        padding: 0;
    }
}
@media screen and (min-width: 768px) {
    .productCarousel.carousel-root .carousel .thumbs {
        transform: none !important;
        flex-direction: column;
        display: flex;
        gap: 10px;
    }
    .productCarousel.carousel-root .carousel .thumb {
        border: 0;
        padding: 0;
        margin: 0;
    }
}
/* PRODUCT DETAILS CAROUSEL STYLING CUSTOMIZATION END */

.markdown ul {
    margin: 0;
    padding: 0;
    list-style-type: disc;
    margin: 20px 0;
}
.markdown ul li {
    margin: 10px 0;
}



    
/* Use these custom variables... */
:root {
    --polka-bg-image:
      radial-gradient(rgb(12, 54, 49) 10%, transparent 10%),
      radial-gradient(rgb(12, 54, 49) 10%, transparent 10%),
      radial-gradient(rgb(0, 0, 0) 10%, transparent 10%),
      radial-gradient(rgb(0, 0, 0) 10%, transparent 10%);
    --polka-bg-position: 0px 0px, 104px 104px, -10.4px 10.4px, 93.6px 114.4px;
    --polka-bg-size: 208px 208px;
    --polka-bg-color: rgb(255, 255, 255);
  }
  
  /* ...or add this class to an element */
  .polka {
    background-image: 
      radial-gradient(rgb(12, 54, 49) 10%, transparent 10%),
      radial-gradient(rgb(12, 54, 49) 10%, transparent 10%),
      radial-gradient(rgb(0, 0, 0) 10%, transparent 10%),
      radial-gradient(rgb(0, 0, 0) 10%, transparent 10%);
    background-position: 0px 0px, 104px 104px, -10.4px 10.4px, 93.6px 114.4px;
    background-size: 208px 208px;
    background-color: rgb(8, 4, 4);
  }
  


  .nike{
    animation: float 6s ease-in-out infinite;

   
  }

  @keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

  /* about */
  